@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

br {
    margin: 0px;
    padding: 0px;
}

h1 {
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
    padding: 0px;

}

h2 {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}

button {
    margin: 0px;
    padding: 0px;
}

.header {
    width: 1440px;
    margin: 0 auto;
    padding: 0px;
    display: flex;
    padding: 15px 0px 15px 0px;
    justify-content: center;
    align-items: center;
}

.header__logo {
    margin-right: 180px;
}

.logo {}

.header__contacts {
    display: flex;
    gap: 76px;
}



.contacts {}

.item__title {}

.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
    color: #28303D;
}

.item__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #28303D;
}

.header__contacts-item {
    display: flex;
    flex-direction: column;
}

.header__schedule {
    display: flex;
    flex-direction: column;
    margin: 0 51px 0 79px;
}

.header__shedule_title {}

.header__search {}

.header__search_image {}

.header__4visually-impaired {
    display: flex;
    gap: 9px;
}

.header__4visually-impaired__button {
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    cursor: pointer;
    border: 1.5px solid #85888D;
    border-radius: 20px;
}

.header__4visually-impaired_button {}

.header__4visually-impaired_title {}

.header__4visually-impaired-search-button {
    background: none;
    cursor: pointer;
    border: none;
}

.header__4visually-impaired-image {}

.header__burger-button {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 50px;
    height: 50px;
    background: #28303D;
    gap: 7px;
    border-radius: 0px 16px 16px 16px;
    cursor: pointer;
    border: none;
}

.header__burger-line {
    width: 32px;
    height: 4px;
    background-color: white;
}


@media (max-width: 961px) {
    .header {
        width: 960px;
        padding: 15px 20px 15px 20px;
    }

    .header__contacts-item:nth-child(2) {
        display: none;
    }

    .header__logo {
        margin-right: 30px;
    }
}

@media (max-width: 641px) {
    .header {
        width: 640px;
        padding: 15px 10px 15px 10px;
    }

    .header__contacts-item:nth-child(2) {
        display: none;
    }

    .header__contacts-item:first-child {
        display: none;
    }

    .header__logo {
        margin-right: 35px;
    }

    .header__shedule_title {
        display: none;
    }
}

@media (max-width: 490px) {
    .header {
        width: 480px;
        padding: 15px 10px 15px 10px;
    }

    .header__contacts-item:nth-child(2) {
        display: none;
    }

    .header__contacts-item:first-child {
        display: none;
    }

    .header__logo {
        margin-right: 35px;
    }

    .header__shedule_title {
        display: none;
    }

    .header__4visually-impaired {
        display: none;
    }

    .header__4visually-impaired {
        display: none;
    }

    .header__4visually-impaired-search-button {
        display: none;
    }

    .header__search_image {
        display: none;
    }

    .header__4visually-impaired__button {
        display: none;
    }

    .header__4visually-impaired-image {
        display: none;
    }

    .header__4visually-impaired_title {
        display: none;
    }
}

@media (max-width: 330px) {
    .header {
        width: 320px;
        padding: 15px 10px 15px 10px;
    }

    .header__contacts {
        display: none;
    }

    .header__contacts-item {
        display: none;
    }

    .header__shedule_title {
        display: none;
    }

    .header__4visually-impaired {
        display: none;
    }

    .header__4visually-impaired {
        display: none;
    }

    .header__4visually-impaired-search-button {
        display: none;
    }

    .header__search_image {
        display: none;
    }

    .header__4visually-impaired__button {
        display: none;
    }

    .header__4visually-impaired-image {
        display: none;
    }

    .header__4visually-impaired_title {
        display: none;
    }

    .header__burger-button {
        margin-left: 0px;
    }

    .header__logo {
        margin-right: -0px;
    }
}

/* =======================================HEADER=============================== */

/* ===================================Main_block=============================== */

.Main {
    margin: 0 auto;
    width: 1440px;
}

/* ==================================Main_block-Page One =======================*/
.Main_page-one {
    display: flex;
    margin: 119px 0px 121px 0px;
    gap: 56px;
}

.Main_page-one_text-block {
    width: 544px;
    margin-left: 140px;
}

.Main_page-one_text-block_h1 {
    margin-top: 110px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;

    color: #28303D;
}

.Main_page-one_text-block_txt {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #28303D;
    margin: 29px 0px 0px 0px;
}

.text {}

.Main_page-one_text-block_button {
    margin-top: 49px;
}

.Button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    border: 1.5px solid #85888D;
    border-radius: 24px;
    background: none;
    cursor: pointer;
    padding: 17px 28px 17px 28px;
    text-align: center;

}

.Main_page-one_photo {}

.Main_photo {}




/* ==================================Main_block-Page two =======================*/


.Main_page-two {
    background: #FAF4F4;
    z-index: 1;
    position: relative;
}

.Main_page-two_header {
    padding: 49px 0px 0px 0px;
}

.Main_page-two_headerh1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.714285px;
    color: #28303D;
    margin: 0px;
}

.Main_page-two_Information-bar {
    margin: 57px 140px 0px 140px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.Main_page-two_button {
    margin: 66px 0 99px 653px;
}

.Information-bar {
    width: 360px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 11px 35px rgba(0, 0, 0, 0.05);
    border-radius: 0px 0px 16px 16px;
}

.Information-bar_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.321429px;
    color: #13294E;
    margin: 27px 25px 49px 25px;
    padding: 0px;
}

.Information-bar_date {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #4F5059;
    margin: 0px 0px 13px 25px;
    padding: 0px;
}

.vector {
    position: absolute;
    z-index: -1;
    left: 69.17%;
    bottom: 64.19%;
}

/* ==================================Main_block-Page third =======================*/

.Main_page-three {
    z-index: 1;
    position: relative;
    padding: 185px 140px;
}

.vector1 {
    position: absolute;
    z-index: -1;
    left: 69.17%;
    right: 0%;
    top: 0%;
    bottom: 50.67%;
}

.Main_page-three_blocks {
    display: flex;
    gap: 136px;

}

.Main_page-three_text-block {
    display: flex;
}


.Main_page-three_text-blocks {}

.Main_page-three_text-block_h1 {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #28303D;
    margin-bottom: 61px;
}

.Main_page-three_text-block {
    display: flex;
    gap: 40px;
    margin: 0px 0px 34px 0px;

}



.Main_page-three_text-block_books-info {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.Main_page-three_text-block_name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.321429px;
    color: #28303D;
    margin: 0px 0px 10px 0px;
}


.Main_page-three_text-block_autors {
    margin: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #28303D;
    margin: 0px 0px 8px 0px;
}

.Main_page-three_text-block_download {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    text-decoration-line: underline;
    color: #28303D;
}

.Main_page-three_button {
    margin: 19px 0px 0px 0px;
}

.Button {}

.Main_page-three_photo {}

.Main_photo {}

/* ==================================Main_block-Page fourth =======================*/

.Main_page-four {
    max-width: 1440px;
    padding: 20px 0px 101px 0px;
}

.Main_page-four_h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.714285px;
    color: #28303D;
    margin-bottom: 43px;
}

.Main_page-four_search-panel {
    width: 760px;
    margin: 0 auto 94px auto;
    border: 1px solid #85888D;
    border-radius: 26px;
    display: flex;
    align-items: center;
    justify-content: left;

}

.Main_page-four_search-panel_text {
    border: 0px;
    background: none;
    outline: none;
    margin-left: 21px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #85888D;

}

.Main_page-four_search-panel_dropdown {
    border: 0px;
    background: none;
    cursor: pointer;
    margin-left: auto;
    display: flex;
    gap: 13.59px;
    align-items: center;
}

.Main_page-four_search-panel_search-button {
    margin: 7px 7px 5px 13.59px;
}

.Main_page-four_search-panel_arrow {
    margin: 0px 0px 0px 13.59px;
}

.Main_page-four_workers {
    margin-left: 140px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    gap: 40px;
}

.Main_page-four_worker_info {
    max-width: 360px;
    margin-top: 62px;
    background: #FFFFFF;
    border: 1px solid #85888D;
    border-radius: 16px;
    z-index: -1;
    position: relative;
}

.Main_page-four_worker_photo {
    position: absolute;
    z-index: 1;
    right: 72.92%;
    top: -30%;
    left: 30%;
}

.Main_page-four_worker_name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.321429px;
    color: #28303D;
}

.Main_page-four_worker_post {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    color: #13294E;
}

.Main_page-four_worker_email {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #00B9F2;
}


.Main_page-four_worker_info-txt {
    display: flex;
    flex-direction: column;
    margin: 101px 20px 29px 20px;
    max-width: 320px;
}


/* ==================================Main_block-Page fifth =======================*/


.Main_page-six {
    background: #77C043;
    padding-top: 52px;
}

.Main_page-six_h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.714285px;
    color: #FFFFFF;
}

.Main_page-six_units-block {
    width: 1160px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 140px;
    column-gap: 40px;
    row-gap: 32px;
}

.Main_page-six_unit {
    max-width: 360px;
    background: white;
    box-shadow: 0px 11px 35px rgba(0, 0, 0, 0.05);
    border-radius: 16px 0px 16px 16px;
}

.Main_page-six_unit_name {
    max-height: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.321429px;
    color: #28303D;
    margin: 27px 18px 41px 23px;
}

.Main_page-six_unit_name-DKO{
    max-height: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.321429px;
    color: #28303D;
    margin: 27px 18px 21px 23px;
}


.Main_page-six_unit_block-address-number {
    display: flex;
    margin-bottom: 38px;
}

.Main_page-six_unit_line {
    margin: 0 11px 0px 27px;
    background: #77C043;
    border: 4px;
    width: 3px;
    height: 75px;
}

.Main_page-six_unit_address-number_txt {}

.Main_page-six_unit_address {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #28303D;
    width: 210px;
    margin-bottom: 14px;


}

.Main_page-six_unit_number {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.321429px;
    color: #28303D;
}


.Main_page-six_button{
    width: 208px;
    margin: 52px 0px 64px 616px;
    top: 85.5%;
    bottom: 8%;
    border: 1.5px solid #FFFFFF;
    border-radius: 24px;
    color: #FFFFFF;
}



/* ==================================Main_block-Page six =======================*/